@switch (inputType) { @case ('text') {
<div class="group">
  <input type="text" required="{{inputRequired}}" id="{{inputId}}" name="{{inputName}}" [formControl]="control"/><span class="highlight"></span
  ><span class="bar"></span>
  <label>{{inputLabel}}</label>
</div>
} @case ('number') {
<div class="group">
  <input type="number" required="{{inputRequired}}" id="{{inputId}}" name="{{inputName}}" [formControl]="control"/><span class="highlight"></span
  ><span class="bar"></span>
  <label>{{inputLabel}}</label>
</div>
} @case ('password') {
<div class="group">
  <input type="password" required="{{inputRequired}}" id="{{inputId}}" name="{{inputName}}" [formControl]="control"/><span class="highlight"></span
  ><span class="bar"></span>
  <label>{{inputLabel}}</label>
</div>
} @case ('textarea') {
<div class="group">
  <textarea type="textarea" rows="5" required="{{inputRequired}}" id="{{inputId}}" name="{{inputName}}" [formControl]="control"></textarea
  ><span class="highlight"></span><span class="bar"></span>
  <label>{{inputLabel}}</label>
</div>
}@case ('selector') {
  <select
  id="{{ inputId }}"
  name="{{ inputName }}"
  [formControl]="control"
  class="{{getSelectorClass()}}"
  [required]="inputRequired"
>
  <option value="" disabled selected>{{ inputLabel }}</option>
  <option *ngFor="let option of options" [value]="option.value">
    {{ option.label }}
  </option>
</select>
}
}
