@switch (inputType) { @case ('text') {
<div class="group">
  <input placeholder="{{placeholder}}" type="text" id="{{inputId}}" name="{{inputName}}" [formControl]="control"/><span class="highlight"></span
  ><span class="bar"></span>
  <label>{{inputLabel}}</label>
</div>
} @case ('number') {
<div class="group">
  <input (input)="onInput($event)" placeholder="{{placeholder}}" type="number" id="{{inputId}}" name="{{inputName}}" [formControl]="control"/><span class="highlight"></span
  ><span class="bar"></span>
  <label>{{inputLabel}}</label>
</div>
} @case ('password') {
<div class="group">
  <input placeholder="{{placeholder}}" type="password" id="{{inputId}}" name="{{inputName}}" [formControl]="control"/><span class="highlight"></span
  ><span class="bar"></span>
  <label>{{inputLabel}}</label>
</div>
} @case ('textarea') {
<div class="group">
  <textarea type="textarea" rows="9" id="{{inputId}}" name="{{inputName}}" [formControl]="control"></textarea
  ><span class="highlight"></span><span class="bar"></span>
  <label>{{inputLabel}}</label>
</div>
}@case ('selector') {
  <select
  id="{{ inputId }}"
  name="{{ inputName }}"
  [formControl]="control"
  class="{{getSelectorClass()}}"
>
  <option value="" disabled selected>{{ inputLabel }}</option>
  <option *ngFor="let option of options" [value]="option.value">
    {{ option.label }}
  </option>
</select>
}
}
