<div class="flex flex-col justify-center items-center w-full h-[300px] py-10 bg-customBlack">
    <div class="mb-4 w-full flex justify-evenly font-maxwellRegular text-white tracking-wider px-80">
        <h2>Términos y condiciones</h2>
        <h2>Cómo cuidamos tu privacidad</h2>
        <h2>Ayuda / PQR</h2>
    </div>
    <div class="w-full flex flex-col items-center justify-center font-maxwellRegular text-white/30 tracking-wider">
        <p>
            Copyright © 2000-2023 Compra-Venta y Mantenimiento de Aires Acondicionados
        </p>
        <p>
            Carrera 25 Número 37 - 26 Piso 2, Lorica-Córdoba, Colombia
        </p>
    </div>
    <div id="slider" class="h-[100px] w-full overflow-hidden mt-10">
        <ul>
            <li>
                <div class="w-[200px] h-[80px] rounded-[40px] bg-white">
                    <img src="../../../assets/images/brands/slider1.png" alt="">
                </div>
            </li>
            <li>
                <div class="w-[200px] h-[80px] rounded-[40px] bg-white">
                    <img src="../../../assets/images/brands/slider2.png" alt="">
                </div>
            </li>
            <li>
                <div class="w-[200px] h-[80px] rounded-[40px] bg-white">
                    <img src="../../../assets/images/brands/slider3.png" alt="">
                </div>
            </li>
            <li>
                <div class="w-[200px] h-[80px] rounded-[40px] bg-white">
                    <img src="../../../assets/images/brands/slider4.png" alt="">
                </div>
            </li>
            <li>
                <div class="w-[200px] h-[80px] rounded-[40px] bg-white">
                    <img src="../../../assets/images/brands/slider5.png" alt="">
                </div>
            </li>
            <li>
                <div class="w-[200px] h-[80px] rounded-[40px] bg-white">
                    <img src="../../../assets/images/brands/slider6.png" alt="">
                </div>
            </li>
            <li>
                <div class="w-[200px] h-[80px] rounded-[40px] bg-white">
                    <img src="../../../assets/images/brands/slider7.png" alt="">
                </div>
            </li>
            <li>
                <div class="w-[200px] h-[80px] rounded-[40px] bg-white">
                    <img src="../../../assets/images/brands/slider8.png" alt="">
                </div>
            </li>
            <li>
                <div class="w-[200px] h-[80px] rounded-[40px] bg-white">
                    <img src="../../../assets/images/brands/slider9.png" alt="">
                </div>
            </li>
            <li>
                <div class="w-[200px] h-[80px] rounded-[40px] bg-white">
                    <img src="../../../assets/images/brands/slider10.png" alt="">
                </div>
            </li>
        </ul>
    </div>
</div>
