<div
  class="relative flex justify-center overflow-hidden items-center w-full h-full rounded-[40px] border-[2px] border-customBlack bg-white"
>
<div class="absolute">
    <img [src]="imageUrl" alt="" height="400">
  </div>
  <div class="absolute">
    <div>
      <h1 class="font-maxwellRegular text-4xl tracking-wider leading-6 text-white">{{ cardTitle }}</h1>
    </div>
    <div class="mt-4">
      <button (click)="onCardEmitClick()" class="rounded-[40px] bg-customGreen font-maxwellRegular text-white px-4 hover:bg-green-600 tracking-wider">ver más</button>
    </div>
  </div>

</div>
